*.user
*.suo
_ReSharper*/
bin/
obj/
executable_specification/FitnesseTests/FitNesseRoot/ErrorLogs/
executable_specification/FitnesseTests/FitNesseRoot/RecentChanges/
executable_specification/FitnesseTests/FitNesseRoot/files/testResults/
target/
